#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(119, 252, 239, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.bounce-logo {
    font-size: 40px; 
    position: absolute; 
    top: 40%; 
    left: 48%; 
    transform: translate(-50%, -50%); /* 垂直水平居中 */
    animation: bounce 1s infinite; /* 加入跳動動畫 */
}

@keyframes bounce {
    0%, 100% {
        transform: translate(-50%, -50%) translateY(0); /* 原地 */
    }
    50% {
        transform: translate(-50%, -50%) translateY(-20px); /* 向上跳20px */
    }
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin-top: 100px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


header{
    z-index: 1;
    opacity: 0.8;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    justify-content:space-between;
    top: 0;
    left: 0;
    background-color: rgb(250, 250, 250); 
    background: linear-gradient(white,white); 
    align-items: center;

}


header>nav>div:hover{
    color: rgb(26, 216, 211);
}

header>nav>div>a:hover{
    color: rgb(26, 216, 211);
    cursor: pointer;
}

header>div{
    margin-left: 60px;
}

header>div.logo{
    width: 134.3px;
    height: 65px;
}

header>.logo>a>img{
    width: 100%;
    height: 100%;
    transition: all 0.6s;
}

header>.logo>a>img:hover{
    transform: scale(1.2);
}

header>nav{
    margin-right: 60px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 40%;
    align-items: center;
}

header>nav>div{
    line-height: 97px;
    color: rgb(128, 128, 128);
    letter-spacing: 3px;
    cursor: pointer;
}

header>nav>div>img{
    width: 18px;
    transition: all 0.6s;
}

header>nav>div>img:hover{
    transform: scale(1.4);
}


.logo img {
    width: auto;
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    line-height: 97px;
    color: rgb(128, 128, 128);
    letter-spacing: 3px;
    cursor: pointer;
    text-decoration: none;
    padding: 0 20px;
}
/* FRONT-ENTER section styles */
section{
    background: url("./img/key-visual.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
    padding:10px;
    background-position-x: center;
    background-position-y: center;
    margin-top: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position-y: center;
    line-height: 10px;
}

section>div.first{
    font-size: 24px;
    color: white;
    padding: 6px;
    border-radius: 5px;
    letter-spacing: 10px;
    text-align: center;
    padding-left: 23px;
}

section>div.first>p.line-one{
    font-size:38px; font-weight: bold; 
}

section>div.first>p.line-two{
    font-size:24px;letter-spacing: 10px;
}

section>div.first>div.arrow-get-down{
    background: url(./img/next.svg);
    background-size: cover;
    width: 20px;
    height: 20px;
    margin: 120px auto;
    transform: rotate(90deg);
    position: absolute;
    top: 550px;
    left: 50%;
    animation: arrowUpDownMove 0.6s ease 0s infinite alternate;
}


@media ( max-width: 712px ){
    main>div>.service{
        width: 224px;
        height: 336px;
        margin-left: 5px;
        margin-right: 5px;
    }
    main>div>div>.service-color {
        font-size: 20px;
    }
    main>div>.service>p {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0px;
    }
    main>div>div>.service-button {
        width: 50px;
        padding: 5px 16px;
        margin: 0 auto;
        border-radius: 5px;
        text-align: center;
        font-size: 14px;
        color: white;
        background-color: rgb(26, 216, 211);
    }
    main>div.home-my-test{
        filter: brightness(100%);
    }
    main>div.home-special-article{
        filter: brightness(100%);
    }
}

@media ( max-width: 570px ){
    main>div.second-picture{
        flex-direction: column;
        justify-content: space-between;
    }
    main>div.home-my-test{
        background-attachment: inherit;
    }
    main>div.home-special-article{
        background-attachment: inherit;
    }
    main>div.second-picture{
        background-attachment: inherit;
    }
    main>div.third-picture{
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/five-img.jpg') ;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: bottom;
        background-position-x: center;
    }
}

@media ( max-width: 420px ){
    section>div.keyvisualSpan {
        letter-spacing: 7px;
        font-size: 20px;
    }
    main>div.partner{
        padding: 0px 30px;
    }
    main>div.partner>div>p{
        font-size: 14px;
        letter-spacing: 0px;
        line-height: 24px;
    }
    main>div.partner>div>p.service-color{
        font-size: 18px;
        padding-top: 40px;
    }
    main>div>.service>p.service-padding-bottom{
        padding-bottom: 8px;
    }
    section>div.keyvisualSpan>p.key-two{
        font-size: 22px;
    }
    section>div.keyvisualSpan>p.key-one{
    font-size:30px;
    }
}


/* Main */

/*測試*/

main>div.out-service{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    width: auto;
    height: auto;
    padding:50px 0;
}

main>div.home-test{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./img/second-img.jpg');
    background-color: rgba(128, 128, 128, 0.4);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    background-position-x: center;
    background-attachment: fixed;
    height: 500px;
    align-items: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: height 0.6s linear;
    margin-top: 10px;
    margin-bottom: 10px;
}

main>div.home-test:hover{
    height: 550px;
}

main>div.home-test>p{
    font-size: 18px;
    color: white;
    text-align: center;
    line-height: 3px;
}

main>div.home-test>p.home-TestGo{
    width: 80px;
    padding: 7px 23px;
    line-height: 18px;
    font-size: 18px;
    border: 1px solid rgb(26, 216, 211);
    color: rgb(26, 216, 211);
    text-align: center;
    border-radius: 5px;
    letter-spacing: 0px;
    cursor: pointer;
    margin-top: 30px;
    transition: all 0.6s linear;
}

main>div.home-test>p.home-TestGo:hover{
    color: rgba(26, 216, 211,0.8);
    padding: 12px 30px;
    font-size: 20px;
}

/*教室精選*/

main>div.home-TutorialSelection{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./img/third-img.jpg');
    background-color: rgb(26, 216, 211);
    background-size: cover;
    background-position-y: bottom;
    background-position-x: center;
    background-attachment: fixed;
    height: 500px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: height 0.6s linear;
    margin-bottom: 10px;

}

main>div.home-TutorialSelection:hover{
    height: 550px;
}

main>div.home-TutorialSelection>p{
    font-size: 20px;
    color: white;
}

main>div.home-TutorialSelection>p.home-TutorialSelection-button{
    transition: all 0.6s linear;
}

main>div.home-TutorialSelection>p.home-TutorialSelection-button:hover{
    padding: 12px 30px;
    font-size: 20px;
}

main>div.home-TutorialSelection>p.home-TutorialSelection-button{
    width: 180px;
    padding: 7px 23px;
    line-height: 18px;
    font-size: 18px;
    border:1px solid rgb(26, 216, 211);
    color: rgb(26, 216, 211);
    text-align: center;
    border-radius: 5px;
    letter-spacing: 0px;
}

/*探索+技能樹*/

main>div.second-picture{
    background: url('./img/15.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    background-position-x: center;
    background-attachment: fixed;
    height: 700px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: height 0.6s linear;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

main>div.second-picture:hover{
    height: 730px;
}

main>div>.service{
    background: url("./img/FE_white.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 336px;
    height: 445px;
    margin-left: 10px;
    margin-right: 10px;
}
    
main>div>.service>img{
    margin-top:50px;
    margin-left: 45%;
    width: 41px;
    height: 42.5px;
}

main>div>.service>p{
    text-align: center;
    line-height: 30px;
    letter-spacing: 0px;
}

main>div>.service>p.service-color {
    color: rgb(26, 216, 211);
}

main>div>.service>p.service-padding-bottom{
    padding-bottom: 15px;
}

main>div>div>.service-line{
    margin: auto;
    border: 1px solid rgb(26, 216, 211);
    width: 50px;
}

main>div>div>.service-button{
    width: 80px;
    padding: 7px 23px;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    color: white;
    background-color: rgb(26, 216, 211);
}

main>div>div>.service-color{
    color:white;font-size: 24px;text-align: center;
}

main>div.partner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    width: auto;
    height: auto;
    height: 430px;
    align-items: center;

}

/* 搜尋 */

div.fullSearchDiv{
    z-index: 3;
    opacity: 0.7;
    position: fixed;
    display: flex;
    flex-direction: row;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 87%;
    background-color: black;
    -webkit-transition: bottom 4s; 
    transition: bottom 4s;
}

div.fullSearchWhiteDiv{
    z-index: 3;
    opacity: 1;
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 25%;
    left: 20%;
    width: 60%;
    height: 50%;
    background-color: white;
    border-radius: 20px;
    -webkit-transition: bottom 4s; 
    transition: bottom 4s;
}

div.fullSearchWhiteDiv>div.whiteDivLeft{
    position: relative;
    width: 100%;
    height: 86%;
    background-color: rgb(243, 243, 243);
    padding: 30px 0px;
    border-radius: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.fullSearchWhiteDiv>div.whiteDivRight{
    width: 10%;
    height: 86%;
    background-color: rgb(75, 67, 67);
    color: white;
    font-size: 24px;
    text-align: center;
    line-height: 14;
    padding: 30px 0px;
    cursor: pointer;
}

div.fullSearchWhiteDiv>div.whiteDivLeft>div.CloseButton{
    background: url(./img/close.png);
    background-size: cover;
    position: absolute; 
    top: 10px; 
    right: 10px;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s ease, color 0.3s ease;
  
}

div.fullSearchWhiteDiv>div.whiteDivLeft>div.whiteDivLeftIcon{
    margin: 0 auto;
    background: url(./img/FE_search_green.png);
    background-repeat: no-repeat;
    background-size: 45px 45px;
    width: 54px;
    height: 58px;
    margin-bottom: -24px;
}

div.fullSearchWhiteDiv>div.whiteDivLeft>p.whiteDivLeftText{
    text-align: center;
    color: rgb(26, 216, 211);
    font-size: 18px;
}

div.fullSearchWhiteDiv>div.whiteDivLeft>form.whiteDivLeftBox{
    display: flex;
    width: 60%;
    height: 35px;
    background-color: white;
    margin-left: 0%;
    padding: 10px;
    border-radius: 20px;
}

div.fullSearchWhiteDiv>div.whiteDivLeft>form.whiteDivLeftBox>input.leftInput{
    width: 90%;
    line-height: 2;
    background-color: white;
    font-size: 16px;
    padding: 10px;
    line-height: 2;
    border: 0px solid white;
}

div.fullSearchWhiteDiv>div.whiteDivLeft>form.whiteDivLeftBox>div.voiceButton{
    background: url(./img/microphone.svg);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    width: 25px;
    height: 28px;
    margin: 0 auto;
    margin-top: 5px;
    cursor: pointer;
}

div.fullSearchWhiteDiv>div.whiteDivLeft>form.whiteDivLeftBox>div.leftButton{
    background: url(./img/FE_search_green.png);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    width: 25px;
    height: 28px;
    margin: 0 auto;
    margin-top: 5px;
    cursor: pointer;
}



div.fullSearchWhiteDiv>div.whiteDivLeft>form.whiteDivLeftBox>div.CloseButton:hover {
    background-color: #ddd;
    color: red;
  }
/*關於*/

main>div.third-picture{
    height: 700px;
    background: url('./img/five-img.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    background-position-x: center;
    transition: height 0.6s linear;
    align-items: flex-end;
    justify-content: center;
}

main>div.third-picture:hover{
    height: 730px;
}


main>div.third-picture{
    height: 730px;
}


main>div.partner>div{
    height: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

main>div.partner>div.partner-left{
    padding: 35px 20px 0px 20px;
    width: 580px;
    color: white;
    font-size: 18px;
}

main>div>div>.service-line{
    margin: -10px auto 0 auto;
    border: 1px solid white;
    width: 20px;

}

main>div.partner>div.partner-img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

main>div.partner>div>p{
    line-height: 30px;
    letter-spacing: 0px;
}

/* 測驗Go */

aside#myAside{
    z-index: 2;
    opacity: 0.8;
    position: fixed;
    bottom: 20%;
    right: 0;
    width: 78px;
    height: 69px;
    -webkit-transition: bottom 4s; /* For Safari 3.1 to 6.0 */
    transition: bottom 4s;
}

aside#myAside:hover{
    bottom: 25%;
}

aside#myAside>img{
    width: 100%;
    height: 100%;
}

/*top*/

aside#top{
    z-index: 2;
    opacity: 0.8;
    position: fixed;
    bottom: 1%; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 36px;
    height: 46px;
    -webkit-transition: bottom 4s; 
    transition: bottom 4s;
}

aside#top:hover{
    bottom: 3%;
}

aside#top>img{
    width: 100%;
    height: 100%;
}

/* Footer styles */
footer{
    opacity: 0.8;
    background-color: #ececec;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 0;
    justify-content: space-around;
}

footer>p{
    font-size: 13px;
    line-height: 60px;  
    padding: 0 30px;
}

footer>p.p::before{
    content:"Mail";
    word-spacing: 20px;
    color:rgb(26, 216, 211);
}

footer>p.e::before{
    content:"Phone";
    word-spacing: 20px;
    color:rgb(26, 216, 211);
}

footer>div{
    text-align: center;
    line-height: 80px;
    padding: 0 30px;
}

footer>div>a>img.footer-img{
    height: 30px;
    width: 30px;
    vertical-align : middle;  
}

u{
    text-decoration: none;
}